In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('darkgrid')
from sklearn.metrics import roc_auc_score
import lightgbm as lgb

import sys, os
# sys.path.append('/Users/raynoldng/Projects/ieee-fraud-detection')
sys.path.append('/home/raynoldng/Desktop/ieee-fraud-detection')
from fraud.utils import load_data
from sklearn.metrics import make_scorer
import fraud.feature_engineering as fe

In [2]:
model = lgb.Booster(model_file='../models/lightgbm_baseline_txn_amt.txt')

In [35]:
train = pd.read_pickle('../input/baseline_txn_amt_train.pkl')
test =  pd.read_pickle('../input/baseline_txn_amt_test.pkl')

y_test = train['isFraud']

train = train.drop(["index", "TransactionID", "isFraud", "TransactionDT"], axis=1)
test = test.drop(["index", "TransactionID", "TransactionDT"], axis=1)

In [36]:
predict = model.predict(test)

In [37]:
score = make_scorer(roc_auc_score)(model, train, y_test)

In [38]:
score

0.4301181112565947

In [39]:
min(predict), max(predict)

(0.5607027753102817, 1.3828739176912073)

In [40]:
train.head()

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,R_emaildomain_bin,R_emaildomain_suffix,Trans_min_mean,Trans_min_std,TransactionAmt_to_mean_card1,TransactionAmt_to_mean_card4,TransactionAmt_to_std_card1,TransactionAmt_to_std_card4,TransactionAmt_log,TransactionAmt_cents
0,59.0000,4,4090,490.0,150.0,4,226.0,1,310.0,87.0,...,6,5,-inf,NaN,0.403809,0.433350,0.378418,0.253418,4.078125,0.0000
1,151.0000,4,12695,490.0,150.0,4,226.0,1,126.0,87.0,...,6,5,-inf,NaN,1.140625,1.109375,1.063477,0.648926,5.015625,0.0000
2,36.9375,0,3154,408.0,185.0,2,224.0,1,NaN,NaN,...,4,0,-inf,NaN,1.025391,0.258789,1.099609,0.000000,3.609375,0.9375
3,50.0000,1,1724,583.0,150.0,4,226.0,0,498.0,87.0,...,7,0,-inf,NaN,0.208618,0.367188,0.000000,0.214844,3.912109,0.0000
4,44.0000,4,17286,100.0,150.0,4,226.0,0,330.0,87.0,...,6,5,-inf,NaN,0.345703,0.323242,0.295410,0.189087,3.785156,0.0000

In [20]:
test.head()

,index,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,R_emaildomain_bin,R_emaildomain_suffix,Trans_min_mean,Trans_min_std,TransactionAmt_to_mean_card1,TransactionAmt_to_mean_card4,TransactionAmt_to_std_card1,TransactionAmt_to_std_card4,TransactionAmt_log,TransactionAmt_cents
0,468341,4131890,33426376,80.00000,1,2157,111.0,150.0,4,226.0,...,4,0,-inf,NaN,0.867188,0.595215,1.014648,0.000000,4.382812,0.00000
1,393485,4057034,31706718,150.00000,2,16075,514.0,150.0,2,102.0,...,1,0,-inf,NaN,0.620605,1.182617,0.000000,0.609375,5.011719,0.00000
2,239585,3903134,26740398,117.00000,4,5729,360.0,150.0,4,166.0,...,6,5,-inf,NaN,1.000000,0.870605,inf,0.000000,4.761719,0.00000
3,292266,3955815,28514065,22.96875,4,15911,275.0,150.0,2,224.0,...,6,5,-inf,NaN,1.000000,0.181152,NaN,0.093323,3.134766,0.96875
4,392378,4055927,31689094,36.93750,4,15280,532.0,150.0,2,224.0,...,6,5,-inf,NaN,0.778809,0.291260,2.486328,0.150024,3.609375,0.93750

## Feature Importance

In [ ]:
def feature_important(model, X , num = 50):
    feature_import = pd.DataFrame(sorted(zip(model.feature_importance(), X.columns)), columns = ['values', 'columns'])
    plt.figure(figsize = (12,15))
    sns.barplot(x = 'values', y = 'columns', data = feature_import.sort_values(by = 'values', ascending = False)[:num])
    plt.show()
    
feature_important(clf, train_eng)