# Tuning Hyper Parameters for XGBoost

In [17]:
import sys, os
sys.path.append('/Users/raynoldng/Projects/ieee-fraud-detection')

import pandas as pd
import numpy as np
from sklearn import preprocessing
import scipy as sp
from scipy import stats

from fraud.tuning import optimize_hyper_parameters
import fraud.utils as utils

# Feature Engineering

In [2]:
def map_emails(df):
    emails = {'gmail': 'google', 'att.net': 'att', 'twc.com': 'spectrum', 
          'scranton.edu': 'other', 'optonline.net': 'other', 'hotmail.co.uk': 'microsoft',
          'comcast.net': 'other', 'yahoo.com.mx': 'yahoo', 'yahoo.fr': 'yahoo',
          'yahoo.es': 'yahoo', 'charter.net': 'spectrum', 'live.com': 'microsoft', 
          'aim.com': 'aol', 'hotmail.de': 'microsoft', 'centurylink.net': 'centurylink',
          'gmail.com': 'google', 'me.com': 'apple', 'earthlink.net': 'other', 'gmx.de': 'other',
          'web.de': 'other', 'cfl.rr.com': 'other', 'hotmail.com': 'microsoft', 
          'protonmail.com': 'other', 'hotmail.fr': 'microsoft', 'windstream.net': 'other', 
          'outlook.es': 'microsoft', 'yahoo.co.jp': 'yahoo', 'yahoo.de': 'yahoo',
          'servicios-ta.com': 'other', 'netzero.net': 'other', 'suddenlink.net': 'other',
          'roadrunner.com': 'other', 'sc.rr.com': 'other', 'live.fr': 'microsoft',
          'verizon.net': 'yahoo', 'msn.com': 'microsoft', 'q.com': 'centurylink', 
          'prodigy.net.mx': 'att', 'frontier.com': 'yahoo', 'anonymous.com': 'other', 
          'rocketmail.com': 'yahoo', 'sbcglobal.net': 'att', 'frontiernet.net': 'yahoo', 
          'ymail.com': 'yahoo', 'outlook.com': 'microsoft', 'mail.com': 'other', 
          'bellsouth.net': 'other', 'embarqmail.com': 'centurylink', 'cableone.net': 'other', 
          'hotmail.es': 'microsoft', 'mac.com': 'apple', 'yahoo.co.uk': 'yahoo', 'netzero.com': 'other', 
          'yahoo.com': 'yahoo', 'live.com.mx': 'microsoft', 'ptd.net': 'other', 'cox.net': 'other',
          'aol.com': 'aol', 'juno.com': 'other', 'icloud.com': 'apple'}

    us_emails = ['gmail', 'net', 'edu']

    #https://www.kaggle.com/c/ieee-fraud-detection/discussion/100499#latest-579654
    for c in ['P_emaildomain', 'R_emaildomain']:
        df[c + '_bin'] = df[c].map(emails)
        
        df[c + '_suffix'] = df[c].map(lambda x: str(x).split('.')[-1])
        
        df[c + '_suffix'] = df[c + '_suffix'].map(lambda x: x if str(x) not in us_emails else 'us')
    return df

def map_transaction_amount(df):
    df['Trans_min_mean'] = df['TransactionAmt'] - df['TransactionAmt'].mean()
    df['Trans_min_std'] = df['Trans_min_mean'] / df['TransactionAmt'].std()

    df['TransactionAmt_to_mean_card1'] = df['TransactionAmt'] / df.groupby(['card1'])['TransactionAmt'].transform('mean')
    df['TransactionAmt_to_mean_card4'] = df['TransactionAmt'] / df.groupby(['card4'])['TransactionAmt'].transform('mean')
    df['TransactionAmt_to_std_card1'] = df['TransactionAmt'] / df.groupby(['card1'])['TransactionAmt'].transform('std')
    df['TransactionAmt_to_std_card4'] = df['TransactionAmt'] / df.groupby(['card4'])['TransactionAmt'].transform('std')

    df['TransactionAmt_log'] = np.log(df['TransactionAmt'])

    df['TransactionAmt_cents'] = df['TransactionAmt'] % 1

    return df


def encode_categorical_features(df_train, df_test):
    # NOTE this is the only feature engineering function that takes in both df_train 
    # df_test, this is because we want values across test and train datasets

    for f in df_train.drop('isFraud', axis=1).columns:
        if df_train[f].dtype=='object' or df_test[f].dtype=='object': 
            lbl = preprocessing.LabelEncoder()
            lbl.fit(list(df_train[f].values) + list(df_test[f].values))
            df_train[f] = lbl.transform(list(df_train[f].values))
            df_test[f] = lbl.transform(list(df_test[f].values))       
    
    return df_train, df_test


def drop_V_features(df):
    # applying the PCA is major PITA, for now just drop it
    mas_v = [c for c in df.columns if c.startswith('V')]
    df = df.drop(mas_v, axis=1)

    return df

In [3]:
df_train, df_test = utils.load_data(sample=True)

(10000, 434)
(10000, 433)

In [4]:
df_train_bak, df_test_bak = df_train, df_test
def restore_df():
    global df_train, df_test
    df_train, df_test = df_train_bak, df_test_bak

In [5]:
df_train = map_emails(df_train)
df_test = map_emails(df_test)

df_train = drop_V_features(df_train) # this should be why the training is so slow
df_test = drop_V_features(df_test) # this should be why the training is so slow

df_train = map_transaction_amount(df_train)
df_test = map_transaction_amount(df_test)

df_train, df_test = encode_categorical_features(df_train, df_test)

In [6]:
X_train, y_train = utils.set_X_and_y(df_train)

In [8]:
y_train.head()

27    False
30    False
83    False
84    False
95    False
Name: isFraud, dtype: bool

In [ ]:
%%timeit
a = 5
b = a + 6

In [10]:
df_train['isFraud'].value_counts()

0    9632
1     368
Name: isFraud, dtype: int64

In [11]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
       
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values

    for name in summary['Name'].value_counts().index:
        summary.loc[summary['Name'] == name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2),2) 

    return summary

In [18]:
df_train = df_train.reset_index()
resumetable(df_train)

Dataset Shape: (10000, 109)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value,Entropy
0,level_0,int64,0,10000,0.000000e+00,1.000000e+00,2.000000e+00,13.29
1,index,int64,0,10000,7.838000e+03,6.186100e+04,1.730690e+05,13.29
2,TransactionID,int64,0,10000,2.994838e+06,3.048861e+06,3.160069e+06,13.29
3,isFraud,int64,0,2,0.000000e+00,0.000000e+00,0.000000e+00,0.23
4,TransactionDT,int64,0,9994,2.446300e+05,1.393351e+06,3.763076e+06,13.29
5,TransactionAmt,float64,0,1854,3.000000e+01,4.000000e+01,3.095000e+01,7.94
6,ProductCD,int64,0,5,4.000000e+00,1.000000e+00,4.000000e+00,1.28
7,card1,int64,0,2392,1.232100e+04,1.729300e+04,2.392000e+03,9.48
8,card2,float64,161,440,4.900000e+02,5.550000e+02,3.600000e+02,6.24
9,card3,float64,34,43,1.500000e+02,1.500000e+02,1.500000e+02,0.70
10,card4,int64,0,5,4.000000e+00,4.000000e+00,2.000000e+00,1.12
11,card5,float64,91,46,2.260000e+02,2.260000e+02,1.660000e+02,2.67
12,card6,int64,0,5,2.000000e+00,2.000000e+00,2.000000e+00,0.86
13,addr1,float64,1135,82,4.690000e+02,3.100000e+02,3.150000e+02,5.06
14,addr2,float64,1135,15,8.700000e+01,8.700000e+01,8.700000e+01,0.09
15,dist1,float64,6014,532,NaN,NaN,1.810000e+02,6.04
16,dist2,float64,9359,234,NaN,NaN,NaN,6.54
17,P_emaildomain,int64,0,58,1.600000e+01,1.900000e+01,1.600000e+01,2.89
18,R_emaildomain,int64,0,45,3.000000e+01,1.700000e+01,3.000000e+01,1.43
19,C1,float64,0,230,1.000000e+00,1.000000e+00,9.000000e+00,2.69
20,C2,float64,0,232,1.000000e+00,1.000000e+00,6.000000e+00,2.73
21,C3,float64,0,6,0.000000e+00,0.000000e+00,0.000000e+00,0.04
22,C4,float64,0,74,0.000000e+00,1.000000e+00,0.000000e+00,1.11
23,C5,float64,0,192,1.000000e+00,0.000000e+00,4.000000e+00,2.04
24,C6,float64,0,180,1.000000e+00,1.000000e+00,3.000000e+00,2.50
25,C7,float64,0,57,0.000000e+00,0.000000e+00,0.000000e+00,0.71
26,C8,float64,0,81,0.000000e+00,1.000000e+00,0.000000e+00,1.25
27,C9,float64,0,131,0.000000e+00,0.000000e+00,8.000000e+00,2.61
28,C10,float64,0,88,0.000000e+00,1.000000e+00,0.000000e+00,1.21
29,C11,float64,0,193,1.000000e+00,1.000000e+00,8.000000e+00,2.15
...,...,...,...,...,...,...,...,...
79,id_23,int64,0,4,3.000000e+00,3.000000e+00,3.000000e+00,0.07
80,id_24,float64,9932,4,NaN,NaN,NaN,1.25
81,id_25,float64,9922,29,NaN,NaN,NaN,3.19
82,id_26,float64,9922,26,NaN,NaN,NaN,4.15
83,id_27,int64,0,3,2.000000e+00,2.000000e+00,2.000000e+00,0.07
84,id_28,int64,0,3,0.000000e+00,0.000000e+00,2.000000e+00,1.04
85,id_29,int64,0,3,0.000000e+00,0.000000e+00,2.000000e+00,1.04
86,id_30,int64,0,64,8.000000e+01,4.700000e+01,8.000000e+01,1.14
87,id_31,int64,0,83,2.900000e+01,9.700000e+01,1.050000e+02,1.91
88,id_32,float64,8647,3,NaN,2.400000e+01,NaN,0.92
89,id_33,int64,0,66,1.000000e+02,3.300000e+01,1.000000e+02,1.09
90,id_34,int64,0,4,3.000000e+00,2.000000e+00,3.000000e+00,0.68
91,id_35,int64,0,3,0.000000e+00,1.000000e+00,2.000000e+00,1.04
92,id_36,int64,0,3,0.000000e+00,0.000000e+00,2.000000e+00,0.86
93,id_37,int64,0,3,1.000000e+00,1.000000e+00,2.000000e+00,0.98
94,id_38,int64,0,3,1.000000e+00,1.000000e+00,2.000000e+00,1.04
95,DeviceType,int64,0,3,0.000000e+00,0.000000e+00,2.000000e+00,1.03
96,DeviceInfo,int64,0,290,5.620000e+02,5.480000e+02,6.020000e+02,1.55
97,P_emaildomain_bin,int64,0,10,4.000000e+00,5.000000e+00,4.000000e+00,2.45
98,P_emaildomain_suffix,int64,0,8,0.000000e+00,0.000000e+00,0.000000e+00,0.95
99,R_emaildomain_bin,int64,0,10,6.000000e+00,5.000000e+00,6.000000e+00,1.28
100,R_emaildomain_suffix,int64,0,8,6.000000e+00,0.000000e+00,6.000000e+00,0.90
101,Trans_min_mean,float64,0,1854,-1.057761e+02,-9.577610e+01,-1.048261e+02,7.94
102,Trans_min_std,float64,0,1854,-4.467024e-01,-4.044714e-01,-4.426904e-01,7.94
103,TransactionAmt_to_mean_card1,float64,0,6601,4.735409e-01,1.000000e+00,2.778942e-01,11.23
104,TransactionAmt_to_mean_card4,float64,34,2303,2.211052e-01,2.948070e-01,2.385176e-01,8.78
105,TransactionAmt_to_std_card1,float64,1418,6615,7.788691e-01,NaN,3.137375e-01,12.43
106,TransactionAmt_to_std_card4,float64,34,2303,1.216514e-01,1.622018e-01,1.432728e-01,8.78
107,TransactionAmt_log,float64,0,1854,3.401197e+00,3.688879e+00,3.432373e+00,7.94
108,TransactionAmt_cents,float64,0,917,0.000000e+00,0.000000e+00,9.500000e-01,3.57